@charset "UTF-8";

.effectName {
    cursor: pointer;
    max-height: 30px;
    overflow: hidden;
}

.effectImage {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30px;
    flex: 0 0 30px;
    background-size: 30px;
    margin-right: 5px;
  }