<li class="item effect flexrow" data-item-id="{{_id}}" data-item-type="effect" draggable="true">
    <div class="effectName flexrow">
        <div class="effectImage item-image effect-icon" style="background-image: url('{{icon}}')"></div>
        <h4>{{label}}</h4>
    </div>
    <div class="item-detail">
        {{#if duration.rounds}}{{duration.rounds}} rounds{{/if}}
        {{#if duration.turns}}{{duration.rounds}} turns{{/if}}
        {{#if duration.seconds}}{{duration.rounds}} seconds{{/if}}
        {{#if isTemporary}}(T)){{/if}}
    </div>
    <div class="item-detail">
    {{#if disabled}}
        <a class="item-control effect-toggle" title="Activer" style="color:lightgray;"><i class="fas fa-toggle-off"></i></a>
    {{else}}
        <a class="item-control effect-toggle" title="Désactiver"><i class="fas fa-toggle-on"></i></a>
    {{/if}}
    </div>
    <div class="item-controls">
        <a class="item-control effect-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
        <a class="item-control effect-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
    </div>
</li>